.footer{
  text-align: center;
  padding: 20px;
  background-color: #2C2B2B;
}

.footer i{
  color:whitesmoke;
  font-size: 50px;
}

.footer i:hover{
  color:rgb(240, 120, 9);
}

.footer > p{
  padding:0px;
  color: white;
}

.links{
  padding: 20px;
}

.fa-linkedin{
  padding: 20px;
}

.fa-github{
  padding: 20px;
}
